body{
    background-color: #45b845;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* margin-top: 40px; */
}

.banner-1{
    object-fit: contain;
}