body {
    background-color: #4f624b;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* margin-top: 40px; */
}

.navbar a {
    color: white !important;
    /*"!important" used to prioritize your custom CSS*/
}

.card-body {
    background-color: #98b5ae;
}

.banner-1 {
    object-fit: contain;
}